.card{
    overflow: hidden;
    @include border-full;
    height: 400px;
    picture{
        height: 40%;
        img{
            max-width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-body{
        height: 60%;
        width: 100%;
        .card{
            &-title{
                height: 20%;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden
            }
            &-text{
                height: 50%;
                &__description{
                    text-align: justify;
                    display: -webkit-box;
                    height: 70%;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

            }
            &-link{
                height: 20%;
            }
        }
    }
}