html, body {
    font-size: 1rem;
    color: $font-dark;
    background-color: $color-tertiary-light;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

*, ::after, ::before {
    box-sizing: border-box;
}

main{
    flex: 1;    
    background-color: white;
    overflow: hidden;
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}