#basket{
    h2{
        font-size: 1.5rem;
    }
    #basket__form{
        height: fit-content;
        @include border-full;
    }
    #basket__list{
        table{
            overflow: auto;
            display: block;
            th, td{
                border-color: $color-secondary-light;
            }
            picture{
                img{
                    display: block;
                    height: 90px;
                    width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
}