#product_detail{
    &__header{
        height: 350px;
        position: relative;
        &__blur{
            background-image: url("../sources/images/grey_background.jpg");
            filter: blur(8px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;     
            height: 100%;
            width: 100%;
        }
        picture{
            position: absolute;
            height: 100%;
            img{
                max-width:100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__content{
        @include border-full;
    }
}