//Graphical Charter
$color-primary: #f3e9f1;
$color-secondary: #d17f44;
$color-tertiary: #8f5bfe;

$color-secondary-light: lighten($color-secondary, $amount: 20);
$color-tertiary-light: lighten($color-tertiary, $amount: 20);

//Color used
$font-dark: black;
