header{
    position: relative;
    background-color: $color-primary;
    #nav__brand{
        picture{
            @media (max-width: 992px) {
                display: flex;
                justify-content: center;
            }
        }
    }
    #nav__form{
        input[type=text]{
            border: 0;
        }
    }
    #nav__links{
        li{
            @media (max-width: 992px) {
                border-bottom: black 1px solid;
            }
            i{
                color: $color-tertiary;
            }
            span{
                display: none;
                @media (max-width: 992px) {
                    display: inline;
                }
                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }
    .navbar-toggler{
        @media (max-width: 992px) {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}